# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [1]:
# your code goes here
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df_marketing = pd.read_csv(url)
df_marketing.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [10]:
# 1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 
# and have a response of "Yes" to the last marketing campaign.

# Filter the DataFrame
filtered_df = df_marketing[(df_marketing['Total Claim Amount'] > 1000) & (df_marketing['Response'] == 'Yes')]

# Display the first few rows of the filtered DataFrame
display(filtered_df.head())
print(filtered_df.shape)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,month_num
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN,1.0
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A,1.0
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A,2.0
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A,2.0
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A,1.0

(67, 27)

In [3]:
# 2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for 
# customers who have responded "Yes" to the last marketing campaign. Write your conclusions

# Filter the DataFrame to include only customers who have responded "Yes" to the last marketing campaign
new_df = df_marketing[df_marketing['Response'] == 'Yes']

# Group the filtered DataFrame by policy type and gender and calculate the average total_claim_amount for 
# each group
average_claim_amount = new_df.groupby(['Policy Type', 'Gender'])['Total Claim Amount'].mean()

display(average_claim_amount)

Policy Type     Gender
Corporate Auto  F         433.738499
                M         408.582459
Personal Auto   F         452.965929
                M         457.010178
Special Auto    F         453.280164
                M         429.527942
Name: Total Claim Amount, dtype: float64

In [14]:
# 3. Analyze the total number of customers who have policies in each state, and then filter the results to
# only include states where there are more than 500 customers

# Group the DataFrame by the 'state' column and count the number of customers in each state
customers_per_state = df_marketing.groupby('State').size()

display(customers_per_state)

State
Arizona       1937
California    3552
Nevada         993
Oregon        2909
Washington     888
dtype: int64

In [15]:
# Filter the results to include only states where there are more than 500 customers
states_over_500_customers = customers_per_state[customers_per_state > 500]
display(states_over_500_customers)

State
Arizona       1937
California    3552
Nevada         993
Oregon        2909
Washington     888
dtype: int64

In [16]:
# 4. Find the maximum, minimum, and median customer lifetime value by education level and gender. 
# Write your conclusions.

# Group the DataFrame by 'education' and 'gender', and calculate the maximum, minimum, and median customer lifetime value
customer_lifetime_stats = df_marketing.groupby(['Education', 'Gender'])['Customer Lifetime Value'].agg(['max', 'min', 'median'])

# Display the statistics
print(customer_lifetime_stats)

                                     max          min       median
Education            Gender
Bachelor             F       73225.95652  1904.000852  5640.505303
                     M       67907.27050  1898.007675  5548.031892
College              F       61850.18803  1898.683686  5623.611187
                     M       61134.68307  1918.119700  6005.847375
Doctor               F       44856.11397  2395.570000  5332.462694
                     M       32677.34284  2267.604038  5577.669457
High School or Below F       55277.44589  2144.921535  6039.553187
                     M       83325.38119  1940.981221  6286.731006
Master               F       51016.06704  2417.777032  5729.855012
                     M       50568.25912  2272.307310  5579.099207

In [17]:
# The marketing team wants to analyze the number of policies sold by state and month. Present the data in 
# a table where the months are arranged as columns and the states are arranged as rows.

df_marketing['month_num'] = df_marketing['Effective To Date'].apply(lambda x: x.split('/')[0].strip() if isinstance(x, str) else x).astype(float)

policy_by_state_month = df_marketing.pivot_table(index='State', columns=['month_num'], aggfunc='size', fill_value=0)
display(policy_by_state_month)

month_num    1.0   2.0
State
Arizona     1008   929
California  1918  1634
Nevada       551   442
Oregon      1565  1344
Washington   463   425

In [18]:
df_marketing.month_num.value_counts()

month_num
1.0    5818
2.0    5092
Name: count, dtype: int64

In [24]:
# 5. The marketing team wants to analyze the number of policies sold by state and month. 
# Present the data in a table where the months are arranged as columns and the states are arranged as rows.

policy_by_state_month = df_marketing.pivot_table(index = 'State', columns='month_num', aggfunc='size', fill_value = 0)
display(policy_by_state_month)

month_num    1.0   2.0
State
Arizona     1008   929
California  1918  1634
Nevada       551   442
Oregon      1565  1344
Washington   463   425

In [28]:
# 6. Display a new DataFrame that contains the number of policies sold by month, by state, for the 
# top 3 states with the highest number of policies sold.

# Group the DataFrame by 'state' and 'month' to calculate the count of policies sold for each state and month
policy_by_state_month = df_marketing.groupby(['State', 'month_num']).size().reset_index(name='policy_count')

# Sort the DataFrame by the total count of policies sold for each state in descending order
state_policy_count = policy_by_state_month.groupby('State')['policy_count'].sum().sort_values(ascending=False)

# Select the top 3 states with the highest number of policies sold
top3_states = state_policy_count.head(3).index

# Filter the original DataFrame to include only data for the selected top 3 states
top3_states_data = df_marketing[df_marketing['State'].isin(top3_states)]

policy_by_month_top_states = top3_states_data.pivot_table(index = 'State', columns = 'month_num', aggfunc='size', fill_value=0)

display(policy_by_month_top_states)

month_num    1.0   2.0
State
Arizona     1008   929
California  1918  1634
Oregon      1565  1344